{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="{% static 'js/jquery.3.6.4.js'%}"></script>
    <script src="{% static 'js/chart.js'%}"></script>
    <script src="{% static 'js/bootstrap5.bundle.min.js'%}"></script>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="600">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap5.min.css'%}">
    <link rel="icon" href="{% static 'img/jagoanhelm.ico'%}">
    <title>jagoanhelm.com</title>
</head>
<body>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalLabel">Login Form</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer justify-content-center d-flex">
      	<form action="" method="POST">   
      	{% csrf_token %}   	
      		<table>
      			<tr>
      				<td>Username:</td>
      				<td><input type="text" name="txtUsername" class="form-control"></td>				
      			</tr>
      			<tr>
      				<td>Password:</td>
      				<td><input type="password" name="txtPassword" class="form-control"></td>
      			</tr>
      			<tr>
      				<td colspan="2" class="text-center">
      					<button type="submit" class="btn btn-primary">Login</button>		
      				</td>
      			</tr>
		      </table>
      	</form>
      </div>
    </div>
  </div>
</div>

	 <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <div class="border rounded mx-2 shadow border-danger col-12 col-xxl-2 col-xl-3 col-lg-4 col-md-12 col-sm-12 col-xs-12   my-2  p-1 ">
        <div class="text-center">
	        <img src="{% static 'img/jagoanhelm.jpeg'%}" class="img-thumbnail border border-danger rounded rounded-circle" style="width: 80px;height: 80px;"  alt="">
	        <div class="container rounded rounded-pill  my-1 p-1 bg-danger">
	        	<a class="navbar-brand h5 fw-bold  text-light" style="width: 200px;" id="header1">jagoanhelm.com</a>
	        </div>   
        </div>
        
    </div>
    

    <div class="d-flex col-12 col-xxl-10 col-xl-9 col-lg-8 col-md-9 col-sm-9 rounded rounded bg-danger shadow mx-2 p-2">
        <button class="navbar-toggler mx-2 bg-warning rounded " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> 
        <span class="fw-bold">&darr;</span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active text-light fw-bold" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light fw-bold" href="#">Link</a>
            </li>
            
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle  text-light fw-bold" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
              </a>
              <ul class="dropdown-menu rounded" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item text-danger" href="#">Action</a></li>
                <li><a class="dropdown-item text-danger" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item text-danger" href="#">Something else here</a></li>
              </ul>
            </li>

            <li class="nav-item mx-2">
            	{% if user.is_authenticated %}
	              <a class="nav-link  text-info fw-bold btn rounded rounded-pill btn-outline-light" href="/logout/" tabindex="-1" aria-disabled="false"> Logout </a>
            	{% else%}
	              <a class="nav-link  text-info fw-bold btn rounded rounded-pill btn-outline-light" href="#" tabindex="-1" aria-disabled="false" data-bs-toggle="modal" data-bs-target="#exampleModal"> Login </a>
            	{% endif%}
            </li>
           
            {% if user.is_authenticated %}
						<li class="nav-item mx-2">
              <a class="nav-link  text-danger disabled bg-light rounded border border-danger text-center shadow" href="#" tabindex="-1" aria-disabled="true"> hi, <strong>{{user.username}}</strong></a>
            </li>
            {% endif %}
          </ul>
        </div>
	        <div class="col-11 col-lg-4 col-md-11 col-sm-11" >
	            <form class="d-flex" method="GET" action="/" style="margin-right:20px">
	                <input class="form-control  rounded rounded-pill rounded-end "  type="search" placeholder="Search" aria-label="Search" name="q"><button class="btn btn-warning rounded rounded-pill rounded-start"  type="submit">Search</button>
	            </form>
	        </div>
    </div>
  </div>
</nav>
	<div style="margin-top:220px" class="container">
			{% for msg in  messages %}
				<div class="py-3 my-3 text-center rounded alert alert-warning alert-dismissible fade show" role="alert">
				  <strong>{{msg}}</strong>
				</div>
			{% endfor %}


		<div class="d-flex justify-content-center">
				{% block banners%}
				{% endblock%}			
		</div>
		<!-- untuk menampilkan filter -->
		<div class="row justify-content-center d-flex" style="margin-top:30px">
			<div class=" fw-bold text-center">
				<h5><span class="badge bg-success" >Kategori:</span> <span class="badge bg-primary" style="padding-top: -10px;">
					{% if filterby is None %}
						Semua Kategori
					{% else%}
						{{filterby|title}} 
					{% endif %}
					<span class="badge bg-light" style="color:black">{{jumlah_data}} item(s)</span></span> </h5> 				
			</div>
		</div>


    {% block contents%}
    {% endblock %}
	
	</div>

	<br/><br/><br/><br/><br/><br/><br/><br/>
<div class="footer text-center bg-white fixed-bottom">
	<hr class="hr"/>
	<span class="fw-bold">&copy; 2022 - {% now 'Y'%}</span><br/>
	<span>by: jagoanhelm.com &amp; leopard, inc</span>
</div>

<script type="text/javascript">
		$(document).ready(function() {
			var tulisan="";
			var counter=0;
			setInterval(function() {
				if (counter==0) {
					tulisan="jagoanhelm.com";
					counter++;
				} else if (counter==1) {
					tulisan="j_";
					counter++;
				} else if (counter==2) {
					tulisan="ja_";
					counter++;
				} else if (counter==3) {
					tulisan="jag_";
					counter++;
				} else if (counter==4) {
					tulisan="jago_";
					counter++;
				} else if (counter==5) {
					tulisan="jagoa_";
					counter++;
				} else if (counter==6) {
					tulisan="jagoan_";
					counter++;
				}else if (counter==7) {
					tulisan="jagoanh_";
					counter++;
				}else if (counter==8) {
					tulisan="jagoanhe_";
					counter++;
				}else if (counter==9) {
					counter++;
					tulisan="jagoanhel_";
				}else if (counter==10) {
					tulisan="jagoanhelm_";
					counter++;
				}else if (counter==11) {
					tulisan="jagoanhelm._";
					counter++;
				} else if (counter==12) {
					tulisan="jagoanhelm.c_";
					counter++;
				}else if (counter==13) {
					tulisan="jagoanhelm.co_";
					counter++;
				}else if (counter==14) {
					tulisan="jagoanhelm.com";
					counter++;
					counter=0;
				};

				
				$("#header1").html(tulisan);
			}, 300)
		})
	</script>
</body>
</html>