{% extends 'penjualan/menu_penjualan.html'%}

{% load humanize %}

{% load static %}

{% block contents%}


<div class="rounded p-2 container-fluid border border-danger" style="margin-top: 30px;">
	<div class="rounded rounded-pill bg-danger fw-bold text-light col-xl-1 col-lg-3 col-md-6 col-sm-6 text-center p-2" style="margin-top: -30px;">
		Kategori
	</div>
	<div class="row my-2 p-2 d-flex justify-content-between">
			<!-- semua kategori
			-->
			<div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 my-2 shadow mybox" onclick="tampilkan('')">	
				<div class=" text-center">
					<img src="{% static 'img/all_categories.jpeg'%}" class="w-100 rounded" style="height: 200px;">
					<div class="d-flex justify-content-center">
						<div class="rounded shadow  text-center border border-danger bg-danger w-75 text-light fw-bold" style="height:30px;margin-top:-50px">
							Semua Kategori
						</div>					
					</div>
				</div>
			</div>
			{% for kategori in mykategori %}
			<div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 my-2 shadow mybox" onclick="tampilkan('{{kategori.kategori}}')">	
				<div class=" text-center">
					{% if kategori.gambar %}
					<img src="{{kategori.gambar.url}}" class="w-100 rounded" style="height: 200px;">
					{% else %}
					<div class="w-100 rounded bg-secondary text-center" style="height: 200px;">no pict</div>
					{% endif%}
					<div class="d-flex justify-content-center">
						<div class="rounded shadow  text-center border border-danger bg-danger w-75 text-light fw-bold" style="height:30px;margin-top:-50px">
							{{kategori.kategori}}
						</div>					
					</div>
				</div>
			</div>
			{% endfor%}
		
	</div>
</div>
<br/>
<!-- produk tampilkan -->
<div class="rounded p-2 container-fluid  border border-danger" style="margin-top: 30px;">
	<div class="rounded rounded-pill bg-danger fw-bold text-light col-xl-4 col-lg-4 col-md-6 col-sm-6 text-center p-2" style="margin-top: -30px;">
		Produk jagoanhelm.com
	</div>
	

	<div class="row my-2 p-2 d-flex justify-content-between">
			<!-- semua kategori
			-->
			{% for produk in produknya %}
			<div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 my-2 shadow mybox" onclick="tampilkan('{{produk.produk_kode}}')">	
				<div class=" text-center">
					{% if produk.gambar %}
					<img src="{{produk.gambar.url}}" class="w-100 rounded" style="height: 200px;">
					{% else %}
					<div class="w-100 rounded bg-secondary text-center" style="height: 200px;">no pict</div>
					{% endif%}
					<div class=" border border-danger">
							<p class="h5"><strong>{{produk.produk_nama}}</strong>
							<p class="text-warning">&#9733;&#9733;&#9733;&#9733;&#9734;</p>
							<p class="fst-italic"><strong>"</strong>{{produk.deskripsi|truncatechars:50}}<strong>"</strong></p>
							<p>Harga: <strong>Rp.{{produk.harga|intcomma}}.00</strong></p>
							<p>Discount: <strong>{{produk.disc}} %</strong> </p>
											
					</div>
				</div>
			</div>
			{% endfor%}
		
	</div>

	<div class="d-flex justify-content-center" >
		{% if produknya.has_previous %}
		<a id="before" class="btn text-center text-light my-1 bg-danger fw-bold rounded rounded-pill rounded-end p-1 px-2">&laquo;&laquo;
		{% else %}
		<a href="#" class="disabled btn text-center text-light my-1 bg-danger fw-bold rounded rounded-pill rounded-end p-1 px-2">&laquo;&laquo;
		{% endif %}
		</a>
		<div class="text-center my-1 col-xl-3 col-lg-3 col-md-10 col-sm-10 text-center border border-2 border-danger fw-bold ">{{produknya}}</div>
		{% if produknya.has_next %}
		<a id="next" class="btn text-center text-light my-1 bg-danger fw-bold rounded rounded-pill rounded-start p-1 px-2">&raquo;&raquo;
		{% else %}
		<a href="#" class="disabled btn text-center text-light my-1 bg-danger fw-bold rounded rounded-pill rounded-start p-1 px-2">&raquo;&raquo;
		{% endif %}
		</a>
	</div>
</div>

<script type="text/javascript">
	function tampilkan(kategori) {
		window.location.href="?kat=" + kategori;
	}

	$(document).ready(function() {
		$(".mybox").mouseover(function() {
			$(this).css("cursor","pointer");
		});
		$("#before").click(function() {
			locationnow = window.location.href;
			if(locationnow.split('?').length>1) {
				window.location.href=locationnow+ "&p={{produknya.number|add:"-1"}}";
			} else {
				window.location.href=locationnow+ "?p={{produknya.number|add:"-1"}}"; 
			};
		});
		$("#next").click(function() {
			locationnow = window.location.href;
			if(locationnow.split('?').length>1) {
				window.location.href=locationnow+ "&p={{produknya.number|add:"1"}}";
			} else {
				window.location.href=locationnow+ "?p={{produknya.number|add:"1"}}"; 
			};
		});

	})
</script>


{% endblock%}
