{% extends 'penjualan/base_penjualan.html' %}
{% load static %}
{% block contents %}
	<div class="container-fluid py-2" >
		<nav class="navbar navbar-expand-lg navbar-light p-2  rounded shadow fixed-top" style="background:rgba(255,140,0,1);">
			
		  <div class="container-fluid d-flex justify-content-start" style="width: 300px;height: 90px;">
		  <a class="navbar-brand " style="margin-left: -10px;"   href="#">
			    <div class="container py-2 " style="height: 90px;width: 250px;">
			    	<img src="{% static 'img/jagoanhelm.jpeg'%}" class="p-2 rounded rounded-circle border border-danger shadow" style="width: 100px;height: 100px;margin-top:-15px">
						<span style="font-size: 40px;color:white" class="fw-bold " id="header1">Jagoan Helm</span>
				</div>
			</a>
		  	
		  </div>
		  <div class="container-fluid d-flex justify-content-end" style="margin-left:100px">
		    <button class="navbar-toggler bg-light border border-secondary shadow my-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="collapse navbar-collapse" id="navbarText">
		      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
		        <li class="nav-item">
		          <a class="nav-link active fw-bold h5" aria-current="page" href="#"><img src="{% static 'img/cart.png'%}" style="margin-top:-5px;width: 30px;height: 30px;"> My Chart</a>
		        </li>
		        <li class="nav-item dropdown">
				    <a class="nav-link dropdown-toggle active" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Dropdown</a>
				    <ul class="dropdown-menu">
				      <li><a class="dropdown-item" href="#">Action</a></li>
				      <li><a class="dropdown-item" href="#">Another action</a></li>
				      <li><a class="dropdown-item" href="#">Something else here</a></li>
				      <li><hr class="dropdown-divider"></li>
				      <li><a class="dropdown-item" href="#">Separated link</a></li>
				    </ul>
				</li>
		        <li class="nav-item">
		          <a class="nav-link" href="#">Features</a>
		        </li>
		        
				<li class="nav-item dropdown">
				    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Dropdown</a>
				    <ul class="dropdown-menu">
				      <li><a class="dropdown-item" href="#">Action</a></li>
				      <li><a class="dropdown-item" href="#">Another action</a></li>
				      <li><a class="dropdown-item" href="#">Something else here</a></li>
				      <li><hr class="dropdown-divider"></li>
				      <li><a class="dropdown-item" href="#">Separated link</a></li>
				    </ul>
				</li>
		      </ul>

 			  	   

		    </div>
		    <div class="py-2" style="margin-left:20px">
			    <form class="d-flex"  style="margin-right: 10px;">
			      <input class="form-control me-1  shadow" type="search" placeholder="Search Product" aria-label="Search">
			      <button class="btn btn-warning shadow" type="submit">Search</button>
			    </form>
			</div>
		  </div>
		
		</nav>
	</div>
	
	<div class="container my-2">
	{% block penjualan %}
	{% endblock %}
	</div>

	{% block banner%}
	<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
	  <div class="carousel-indicators">
	    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
	    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
	    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
	  </div>
	  <div class="carousel-inner">
	    <div class="carousel-item active">
	      <img src="{% static 'img/iklan.jpeg'%}" class="d-block " style="width:650px;height: 400px;">
	    </div>
	    <div class="carousel-item">
	      <img src="{% static 'img/iklan.jpg'%}" class="d-block " style="width:650px;height: 400px;">
	    </div>
	    <div class="carousel-item">
	      <img src="{% static 'img/iklan2.jpg'%}" class="d-block " style="width:650px;height: 400px;">
	    </div>
	  </div>
	  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
	    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	    <span class="visually-hidden">Previous</span>
	  </button>
	  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
	    <span class="carousel-control-next-icon" aria-hidden="true"></span>
	    <span class="visually-hidden">Next</span>
	  </button>
</div>
	{% endblock%}

	<script type="text/javascript">
		$(document).ready(function() {
			var tulisan="";
			var counter=0;
			setInterval(function() {
				if (counter==0) {
					tulisan="Jagoan Helm";
					counter++;
				} else if (counter==1) {
					tulisan="J_";
					counter++;
				} else if (counter==2) {
					tulisan="Ja_";
					counter++;
				} else if (counter==3) {
					tulisan="Jag_";
					counter++;
				} else if (counter==4) {
					tulisan="Jago_";
					counter++;
				} else if (counter==5) {
					tulisan="Jagoa_";
					counter++;
				} else if (counter==6) {
					tulisan="Jagoan_";
					counter++;
				}else if (counter==7) {
					tulisan="Jagoan _";
					counter++;
				}else if (counter==8) {
					tulisan="Jagoan H_";
					counter++;
				}else if (counter==9) {
					counter++;
					tulisan="Jagoan He_";
				}else if (counter==10) {
					tulisan="Jagoan Hel_";
					counter++;
				}else if (counter==11) {
					tulisan="Jagoan Helm";
					counter++;
					counter=0;
				};
				
				$("#header1").html(tulisan);
			}, 300)
		})
	</script>
{% endblock%}