{% extends 'penjualan/base_penjualan.html' %}
{% load static %}


{% block banners%}
{% if tampilkan%}
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
	  <div class="carousel-indicators">
	  	{% for banner in bannernya%}
	  		{% if forloop.counter0 == 0 %}
		    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{forloop.counter0}}" class="active" aria-current="true" aria-label="{{banner.deskripsi}}"></button>
	  		{% else %}
		    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{forloop.counter0}}" aria-label="{{banner.deskripsi}}"></button>
	  		{% endif %}
	    {% endfor %}
	  </div>
	  <div class="carousel-inner justify-content-center">
	  	{% for banner in bannernya %}
		  	{% if forloop.counter0 == 0%}
		  	<div class="carousel-item active">
		  	{% else %}
		    <div class="carousel-item">
		    {% endif%}
		      <img src="{{banner.banner.url}}"  class="d-block w-100 rounded shadow border border-danger"  alt="{{banner.deskripsi}}" style="height: 350px;">
		    </div>
	  	{% endfor%}
	  </div>
	  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
	    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	    <span class="visually-hidden">Previous</span>
	  </button>
	  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
	    <span class="carousel-control-next-icon" aria-hidden="true"></span>
	    <span class="visually-hidden">Next</span>
	  </button>
</div>
{%else%}
<div class="h5 text-start rounded rounded-pill bg-warning p-2">
	filter by: {{filterby|title}}	
</div>
{%endif%}
{% endblock%}


{% block contents%}

{% endblock%}