{% extends 'base.html' %}
{% load static %}
{% block contents %}
	<div class="container-fluid py-2" style="margin-top:180px;">
		<nav class="navbar navbar-expand-lg navbar-light container rounded shadow fixed-top" style="background:rgba(255,140,0,1);">
		  <div class="container-fluid d-flex justify-content-center" style="width: 350px;height: 90px;">
		  <a class="navbar-brand w-100"   href="#">
			    <div class="container py-2 bg-light border border-danger rounded shadow" style="height: 90px;width: 350px;">
					<img src="{% static 'img/jagoanhelm.jpeg'%}" class="img-circle" style="width: 70px;height: 70px;">
					<span style="font-size: 40px;" class="fw-bold " id="header1">Jagoan Helm</span>
				</div>
			</a>
		  	
		  </div>
		  <div class="container-fluid">
		    
		    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="collapse navbar-collapse" id="navbarText">
		      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
		        <li class="nav-item">
		          <a class="nav-link active" aria-current="page" href="#">Home</a>
		        </li>
		        <li class="nav-item dropdown">
				    <a class="nav-link dropdown-toggle active" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Dropdown</a>
				    <ul class="dropdown-menu">
				      <li><a class="dropdown-item" href="#">Action</a></li>
				      <li><a class="dropdown-item" href="#">Another action</a></li>
				      <li><a class="dropdown-item" href="#">Something else here</a></li>
				      <li><hr class="dropdown-divider"></li>
				      <li><a class="dropdown-item" href="#">Separated link</a></li>
				    </ul>
				</li>
		        <li class="nav-item">
		          <a class="nav-link" href="#">Features</a>
		        </li>
		        
				<li class="nav-item dropdown">
				    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Dropdown</a>
				    <ul class="dropdown-menu">
				      <li><a class="dropdown-item" href="#">Action</a></li>
				      <li><a class="dropdown-item" href="#">Another action</a></li>
				      <li><a class="dropdown-item" href="#">Something else here</a></li>
				      <li><hr class="dropdown-divider"></li>
				      <li><a class="dropdown-item" href="#">Separated link</a></li>
				    </ul>
				</li>
		      </ul>

		      
		    </div>
		    <div class="container d-flex justify-content-center">
			    <form class="d-flex">
			      <input class="form-control me-2 shadow" type="search" placeholder="Search Product" aria-label="Search">
			      <button class="btn btn-warning shadow" type="submit">Search</button>
			    </form>
			  </div>

		  </div>
		
		</nav>
	</div>
	
	<div class="container my-2">
	{% block penjualan %}
	{% endblock %}
	</div>

	<script type="text/javascript">
		$(document).ready(function() {
			var tulisan="";
			var counter=0;
			setInterval(function() {
				counter++;
				
				if (counter==1) {
					tulisan="J_";
				} else if (counter==2) {
					tulisan="Ja_";
				} else if (counter==3) {
					tulisan="Jag_";
				} else if (counter==4) {
					tulisan="Jago_";
				} else if (counter==5) {
					tulisan="Jagoa_";
				} else if (counter==6) {
					tulisan="Jagoan_";
				}else if (counter==7) {
					tulisan="Jagoan _";
				}else if (counter==8) {
					tulisan="Jagoan H_";
				}else if (counter==9) {
					tulisan="Jagoan He_";
				}else if (counter==10) {
					tulisan="Jagoan Hel_";
				}else if (counter==11) {
					tulisan="Jagoan Helm";
					counter=0;
				};
				$("#header1").html(tulisan);
				if(counter==0) {
					$("#header1").animate({
						fontSize:"40px",
					},1000);
				};
			}, 300)
		})
	</script>
{% endblock%}