{% extends 'menu_produk1.html'%}
{% load static%}
{% block contents%}
<div class="container rounded border border-danger p-2 shadow bg-white border-3">
	<div class="h1">Menambah Banner</div><hr class="hr">
	<form method="POST" action="" enctype="multipart/form-data">
	{{forms.as_p}}
	{% csrf_token %}
	<input type="submit" name="" class="btn btn-success" value="Tambahkan Banner!">
	</form>
</div>
<div class="container rounded border border-danger p-2 my-3 shadow bg-white ">
	<div class="h3">Maintenance Banner Toko</div><hr class="hr">
	<div class="row">
		{% for data in mydata %}
		<div class="col-4 my-2">
			<div class="card border border-danger">
				<div class="card-body">
					<img src="{{data.banner.url}}" class="w-100 rounded p-2 shadow" alt="{{data.deskripsi}}">
				</div>
				<div class="text-center card-header bg-warning rounded rounded-pill m-2">
						<span class="card-text  h5 fw-bold">{{data.deskripsi|truncatechars:"20"}}</span>
				</div>
			</div>
		</div>
		{% endfor%}
	</div>
</div>

{% endblock%}