{% extends 'menu_produk1.html'%}
{% block contents %}
<div class="row">
    <div class="col-7">
        <div class="w-100 p-2  text-center bg-primary text-white fw-bold">
            Daftar Desa
        </div>
        <div class=" my-2">
            <div class=" overflow-x-hidden">
                <table class="table">
                    <thead>
                        <th>No.</th>
                        <th>Kode Desa</th>
                        <th>Nama Desa</th>
                        <th>Nama Kota</th>
                        <th>Nama Provinsi</th>
                        <th></th>
                    </thead>
                    {% for data in provinsinya %}
                    <tr>
                        <th>{{forloop.counter}}</th>
                        <td>{{data.kode_desa}}</td>
                        <td>{{data.nama_desa}}</td>
                        <td>{{data.kode_kota}}</td>
                        <td>{{data.kode_provinsi}}</td>
                        <td><button style="font-size:10px" class="fw-bold bg-danger rounded" title="Klik Untuk Menghapus" onclick="window.location.href='/adm/master/desa/d/?desa={{data.kode_desa}}'">X</button></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <div class="col-5">
        <div class="w-100 p-2  text-center bg-success text-white fw-bold">
            Pengaturan Master Kota
        </div>
        <div class="my-2">
            <div class="p-2 border border-danger border-1 rounded">
                <strong><u>Menambahkan Master Kota</u></strong>
                <form class="p-2" action="" method="POST">
                    {% csrf_token %}
                    {{formnya.as_p}}
                    <input type="submit" value="Tambahkan" class="btn btn-primary">
                </form>
                
            </div>

            <div class="p-2 my-2 border border-danger border-1 rounded">
                <strong><u>Upload Master Provinsi (CSV)</u></strong>
                <form class="p-2" action="/adm/master/desa/u/" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{uploadform.as_p}}
                    <input type="submit" value="Tambahkan" class="btn btn-primary">
                </form>
                
            </div>
        </div>
        
    </div>
</div>
<script>
    function get_parameter(name){
        if(name=(new RegExp('[?&]'+encodeURIComponent(name)+'=([^&]*)')).exec(location.search))
           return decodeURIComponent(name[1]);
    }

    $("#id_kode_provinsi").change(function() {
        window.location.href="?prov=" + this.value;
    });

    $(document).ready(function() {
        $("#id_kode_provinsi").val(get_parameter("prov"));
    })
</script>
{% endblock %}