{% extends 'menu_produk1.html' %}
{% load static %}
{% block contents%}
	<div class="row d-flex justify-content-center">
		
		<!-- <div class="col-10">
			<div class="row m-2">
				<div class="col-4 btn btn-outline-primary" onclick="klikid('{{data.produk_kode}}')">
					{% if data.gambar %}
					<img src="{{data.gambar.url}}" class="rounded " style="width: 100%;height: 100%;">
					{% else %}
					<div class="container-fluid rounded " style="background: rgba(0,0,0,0.1); width: 100%; height: 100%;">
						
					</div>
					{% endif %}
				</div>
				<div class="col-8 p-2 rounded border  border-primary">
					<p>Kode SKU Barang: {{data.produk_kode}}</p>
					<p>Nama Barang: {{data.produk_nama}}</p>
					<p>Merek Barang: {{data.produk_merek}}</p>
					<p>Negara Produsen: {{data.produk_asal}}</p>
				</div>
			</div>
		</div> -->
		<h1 class="text-center py-3 fw-bold">
		Daftar Produk
		</h1>

		<table class="my-3">
			<tr>
				<td>Filter:</td>
				<td><input type="text" class="form-control" id="myInput"></td>
			</tr>	
		</table>
		<table class="table  table-striped table-hover">
			<thead>
				<th class="text-center">No.</th>
				<th class="text-center">Gambar</th>
				<th class="text-center">Kode SKU</th>
				<th class="text-center">Nama Barang</th>
				<th class="text-center">Merek Barang</th>
				<th class="text-center">Asal Negara</th>
			</thead>
			<tbody id="myTable">
				{% for data in mydata %}
				<tr>
					<th class="text-center">{{forloop.counter}}</th>
					<td class="d-flex justify-content-center">
						{% if data.gambar %}
						<img src={{data.gambar.url}} class="rounded" style="width: 100px;height: 100px;"  onclick="klikid('{{data.produk_kode}}')" onmouseover="">
						{% else %}
						<a class="btn btn-primary" href="/adm/update/{{data.produk_kode}}/produk/">no picture</a>
						{% endif %}
					</td>
					<th class="text-center">{{data.produk_kode}}</th>
					<td class="text-center">{{data.produk_nama}}</td>
					<td class="text-center">{{data.produk_merek}}</td>
					<td class="text-center">{{data.produk_asal}}</td>
				</tr>
				{% endfor%}
			</tbody>
		</table>
		
	</div>
	<script type="text/javascript">
		function klikid(mydata) {
			window.location.href="/adm/update/" + mydata + "/produk/";
		};
		$(document).ready(function(){
		  $("#myInput").on("keyup", function() {
		    var value = $(this).val().toLowerCase();
		    $("#myTable tr").filter(function() {
		      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
		    });
		  });
		});
	</script>
{% endblock%}