{% load static %}
<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src="{% static 'js/jquery.3.6.4.js'%}"></script>
	<script type="text/javascript" src="{% static 'js/bootstrap5.bundle.min.js'%}"></script>
	<link rel="stylesheet" href="{% static 'css/bootstrap5.min.css'%}">
	<link rel="icon" href="{% static 'img/jagoanhelm.ico'%}">

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Jagoan Helm</title>
</head>
<body style="background: rgba(255,255,0,0.3);">
	<div  class="container-fluid">
		<div class="rounded">
		{% block menu %}
		{% endblock %}	
		</div>
		
		<div class="container bg-white shadow rounded" style="padding-bottom:10px">
			{% for msg in  messages %}
				<div class="py-3 my-3 text-center rounded alert alert-warning alert-dismissible fade show" role="alert">
				  <strong>{{msg}}</strong>
				  </button>
				</div>
			{% endfor %}
			<div class="container">
			{% block contents%}
			{% endblock %}	
			</div>			
			<div class="container col-6 border border-3 rounded shadow  p-2 my-2" style="margin-top: 30px; !important">
				<foooter >		  <!-- Copyright -->
				  <div class="text-center">			      
				    <span class="button fw-bold"> &copy; 2022 - {% now "Y" %}<br>by: leopard, inc &amp; jagoanhelm.com</span>
				  </div>
				  <!-- Copyright -->
				</footer>
			<!-- Footer -->
			</div>
		</div>	
		
	</div>
</body>
</html>