<!DOCTYPE html>
<html lang="en">
<head>
    <script src=".\bootstrap5\jquery.3.6.4.js"></script>
    <script src=".\bootstrap5\bootstrap5.min.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=".\bootstrap5\bootstrap5.min.css">
    <title>Document</title>
</head>
    <body>
        <div class="row">
            <div class="col-4 m-3">
                <img src=".\bootstrap5\image.jpeg" class="img img-thumbnail w-100">
                <span class="badge bg-primary" style="position: absolute;margin-left:-50px ">DISC<br/>50%</span>
            </div>
            
        </div>
        
    </body>
</html>