{% extends 'base.html' %}
{% load static%}
{% block menu%}
<div class="container shadow rounded" style="margin-bottom:120px;background:rgba(255,140,0,1);">
  <nav class=" navbar navbar-expand-lg navbar-light fixed-top p-3 container rounded shadow" style="margin-bottom:200px;background:rgba(255,140,0,1);">

    <img class="img rounded rounded-circle border border-1 border-warning shadow" src="{% static 'img/jagoanhelm.jpeg'%}" style="width: 80px;height: 80px;"><a class="mx-2 navbar-brand fw-bold text-light" href="/adm/"><strong>jagoanhelm.com</strong></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
      	<li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle fw-bold" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Master Data
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="{% url 'inputKategoriProduk'%}">Menambah Kategori Produk</a></li>
            <li><a class="dropdown-item" href="{% url 'inputProduk'%}">Menambah Produk</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'viewkategoriProduk'%}">Menampilkan Kategori Produk</a></li>
            <li><a class="dropdown-item" href="{% url 'viewProduk'%}">Menampilkan Produk</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'viewProduk'%}">Mengatur Banner Toko</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle fw-bold" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Maintenance Stok
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="{% url 'viewStatusStokRusak'%}">Perbaikan Produk Rusak</a></li>
            <li><a class="dropdown-item" href="{% url 'viewStatusRevisiStok'%}">Laporan Revisi Jumlah Stok Manual</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Master Data
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</div>
{% endblock%}
