<p><strong>Terima Kasih {{nama}} sudah bertransaksi di <span style="color: red;">jagoanhelm.com</span></strong></p>

<p>Pembayaran Sebesar <strong>{{pembayaran}}</strong> bisa melalui transfer bank BCA nomor:<strong>8767867555</strong> maksimal 2 jam ke depan yah....</p>
<p>Apabila {{nama}} sudah melakukan transfers, otomatis akan dikeluarkan konfirmasi melalui email dan whatsapp kamu di nomor {{no_wa}}.</p>

<p>Terima kasih sudah berbelanja di <span style="color: red;">jagoanhelm.com</span> ^^</p>